*,
*::before,
*::after {
  @apply box-border;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.background {
  @apply min-w-[320px] w-screen h-screen pt-[1%] pb-[3%]
  flex flex-col justify-center items-center
  bg-gradient-to-b from-[#242432] to-[#2e3b53]
  select-none;
}

.screen-container {
  @apply w-full h-[30%]
  flex flex-col justify-evenly items-center

  custom-sm:h-[40%] custom-sm:justify-between
  sm:h-[60%]
  lg:h-full;
}

.header-container {
  @apply min-w-[150px] w-[90%] h-[30px] mt-[1%]
  flex flex-row justify-between items-center;
}

.base {
  @apply w-[85%] h-auto max-w-full
  relative flex items-center justify-center z-10;
}

.keyboard-blue {
  @apply w-full h-auto
  transition-all duration-500 ease-in-out;
}

.keyboard-purple {
  @apply w-full h-auto 
  absolute top-0 left-0 z-10
  transition-all duration-1000 ease-in-out;

  clip-path: polygon(0 0, 0 0, -30% 100%, -60% 100%);
  will-change: clip-path;
  transform: translateZ(0);
}

.keyboard-purple.visible {
  clip-path: polygon(0 0, 130% 0, 100% 100%, -60% 100%);
}

.menu-button {
  @apply border-2 border-white
  w-[50px]
  
  flex justify-center items-center
  rounded-full
  bg-custom-gray-light
  text-base
  drop-shadow-lg

  custom-sm:w-[60px]
  custom-sm:aspect-[2/1]

  lg:w-[100px] lg:text-2xl

}

.menu-text {
  @apply text-xs
  lg:text-base;
}

.info-bg {
  @apply w-full h-full fixed top-0 right-0 z-50
  bg-black bg-opacity-80 
  flex flex-col justify-center items-center
  transition duration-500 ease-out;
}

.resizable-container {
  @apply w-[70%] min-w-[150px] h-[36%]
  flex flex-col justify-center
  transition-all duration-500 ease-out

  sm:w-[50%];
}

.info-container {
  @apply text-white border-2 border-white
  w-full h-[90px] mb-9
  rounded-xl
  bg-white bg-opacity-70
  flex flex-col justify-around items-center
  relative
  transition-all duration-500 ease-out
  sm:flex-row sm:mr-0
  sm:pr-[30px] sm:py-0
  sm:justify-start;
}

.info-container:last-child {
  @apply m-0;
}

.info-text {
  @apply w-full
  text-xs text-center p-[10px]

  sm:text-sm sm:text-center sm:p-0 sm:mr-[15px]
  lg:text-lg lg:text-center;
}

.info-icon-box {
  @apply w-full h-[40px] bg-white/50
  border-white border-b-2
  flex justify-center items-center

  sm:w-auto sm:h-full
  sm:border-b-0
  sm:border-r-2 
  sm:p-[30px] sm:mr-[30px];
}

.info-icon {
  @apply text-3xl 
  sm:mr-[3%] sm:mb-0;
}

.info-remove {
  @apply opacity-0 -translate-x-[50px]
  transition-all duration-500 ease-out;
}

.selected {
  @apply bg-white text-black;
}

.unselected {
  @apply text-white 
  hover:text-black 
  hover:bg-white;
}

.buttons-container {
  @apply min-w-[150px] w-[50%] 
  flex flex-row justify-between items-center
  relative;
}

.base-shadow {
  @apply w-[150%] h-auto max-w-full
  absolute top-[1%] right-[-2.5%]
  flex items-center justify-center z-0
  opacity-60;
}

.deactivate {
  @apply absolute z-20 w-full h-auto
  opacity-40 pointer-events-none;
}

.off {
  @apply absolute z-10 w-full h-auto
  pointer-events-none;
}

.key-container {
  @apply absolute top-0 left-0 w-full h-full z-20
  pt-[3.14%] pb-[3.0%] pl-[2.7%] pr-[3.2%]
  flex flex-col;
}

.key-top-container {
  @apply flex flex-row w-[100%] h-[20.1%]
  mb-[2.05%];
}

.key-main-container {
  @apply w-[100%] h-[97%]
  flex flex-col justify-evenly;
}

.key-main-row {
  @apply w-[100%] h-[19.4%]
  flex flex-row;
}

.quad-container {
  @apply w-[79.4%] ml-[6.2%]
  flex flex-row justify-between;
}

.quad-row {
  @apply w-[31.8%] h-auto
  flex flex-row justify-between;
}

.hoverEffect {
  @apply transition transform duration-200 ease-in
  hover:opacity-100
  hover:cursor-pointer
  hover:text-white
  hover:scale-[120%];
}

.clickEffect {
  @apply transition transform duration-200 ease-in
  rounded-md
  hover:opacity-100
  hover:cursor-pointer
  active:scale-[120%];
}

.text-sizing {
  @apply text-[0.4rem] leading-[0.5rem]
  sm:text-sm sm:leading-5
  lg:text-xl lg:leading-7;
}

.esc {
  @apply w-[6.4%] text-sm  whitespace-nowrap
  opacity-0  text-gray-400
  text-sizing;
}
.quad-keys {
  @apply w-[25%] text-sm whitespace-nowrap 
  opacity-0 text-white
  text-sizing;
}

.main-keys {
  @apply w-[6.3%] text-lg whitespace-nowrap
  opacity-0  text-white 
  text-sizing;
}

.key-span {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  z-50 transition duration-200 ease-in;
}

.wheel {
  @apply w-[6%] ml-[2.2%] text-sm rounded-full 
  opacity-0
  text-sizing text-gray-400
  transition transform duration-200 ease-in
  hover:opacity-100
  hover:cursor-pointer;
}

.typed {
  @apply transition transform duration-200 ease-in
  opacity-70
  backdrop-blur-2xl 
  scale-[120%];
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-80%);
  }
}

.knob {
  @apply flex justify-center items-center
  absolute top-[105%] right-[-33%] translate-x-[150%]
  transform origin-center z-10

  sm:top-[130%];
}

.knob-show {
  animation: slideIn 0.3s ease forwards;
}

.knob-hide {
  animation: slideOut 0.3s ease forwards;
}

.color-button {
  @apply w-[3em] h-[3em] border-2 border-white rounded-full
  overflow-hidden;
}

.info-button {
  @apply w-[20px] aspect-square p-1 ml-[10px] mr-[9px]
  border-2 border-white rounded-full
  flex justify-center items-center
  text-white
  bg-custom-gray-light
  overflow-hidden
  drop-shadow-lg

  hover:bg-white
  hover:text-black

  lg:mr-0
  lg:w-[35px] lg:ml-[20px];
}

.close-button {
  @apply border-2 border-white rounded-full p-1
  bg-gray-300
  text-white text-lg
  absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2
  flex justify-center items-center

  transition-colors duration-200 ease-in

  hover:bg-white
  hover:text-black;
}

.link-button-container {
  @apply min-w-[150px] w-[90%] h-[30px] 
  
  flex flex-row justify-between items-end
  relative

  lg:h-[50px];
}

.link-button {
  @apply border-2 border-white
  w-[30px] h-[30px] p-2
  text-base
  absolute top-0 right-0 z-40
  flex justify-center items-center
  rounded-full
  bg-custom-gray-light
  drop-shadow-lg
 text-white
  transition-all duration-200 ease-out

  hover:aspect-[2/1]
  hover:w-[60px]
  hover:bg-white hover:text-black

  lg:w-[50px] lg:h-[50px]
  lg:hover:w-[100px]
  lg:text-2xl;
}

.close-icon {
  @apply text-base
  sm:text-2xl;
}

.info-close {
  @apply opacity-0;
}

.color-toggle-bar {
  @apply w-[30px] h-[12px] 
  relative 
  border-2 border-white
  rounded-full 
  drop-shadow-lg
  cursor-pointer
  transition-colors duration-300

  lg:w-[50px] lg:h-[20px];
}

.color-toggle-circle {
  @apply w-[18px] aspect-square
  rounded-full 
  absolute top-1/2 transform -translate-y-1/2 
  drop-shadow-lg
  cursor-pointer
  transition duration-300

  lg:w-[30px];
}

/* 배경 관련 */
@keyframes infiniteFlow {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.bg-gradient-infinite {
  @apply absolute inset-0 w-full h-full z-10
  bg-infinite-gradient bg-200% animate-infiniteFlow
  bg-blend-hard-light;
}

.mask-led {
  -webkit-mask-image: url("../assets/svg/keyboard_off.svg");
  mask-image: url("../assets/svg/keyboard_off.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
