*,
*::before,
*::after {
  @apply box-border;
}

.background {
  @apply min-w-[320px] w-screen h-screen flex flex-col justify-center items-center
  bg-gray-600;
}

.keyboard {
  @apply w-full h-auto;
}

.keyboard-purple {
  @apply w-full h-auto absolute z-10
}

.menu-button {
  @apply border-2 border-white
  flex justify-center items-center
  rounded-full
  bg-gray-600
  text-base
  drop-shadow-lg
  w-[50px]
  aspect-[2/1]

  sm:w-[70px] sm:text-xl
  lg:w-[100px] lg:text-2xl

  transition duration-200 ease-out;
}

.info-bg {
  @apply w-screen h-screen fixed top-0 right-0 z-50
  bg-black bg-opacity-80
  flex justify-center items-center
}

.info-container {
  @apply text-white border-2 border-white
  rounded-xl p-[5%]
 bg-white bg-opacity-70
   w-[40%] aspect-[1/1]
   relative

   md:w-[50%]
   md:aspect-auto
}

.info-ul {
  @apply 
  w-full h-full 
  flex flex-col justify-center
}

.info-li {
  @apply text-sizing
}

.selected {
  @apply bg-white text-black;
}

.unselected {
  @apply text-white 
  hover:text-black 
  hover:bg-white;
}

.buttons-container {
  @apply min-w-[150px] w-[80%] flex flex-row justify-between items-end
  mb-[1.5%] relative

  md:items-end
}

.base {
  @apply w-[90%] h-auto max-w-full
  relative flex items-center justify-center z-10;
}

.base-shadow {
  @apply w-[150%] h-auto max-w-full
  absolute top-[1%] right-[-2.5%]
  flex items-center justify-center z-0
  opacity-60;
}

.deactivate {
  @apply absolute z-20 w-full h-auto
  opacity-40 pointer-events-none;
}

.off {
  @apply absolute z-10 w-full h-auto
  pointer-events-none;
}

.key-container {
  @apply absolute top-0 left-0 w-full h-full z-20
  pt-[3.14%] pb-[3.0%] pl-[2.7%] pr-[3.2%]
  flex flex-col 
}

.key-top-container {
  @apply flex flex-row w-[100%] h-[20.1%]
  mb-[2.05%]
}

.key-main-container {
  @apply w-[100%] h-[97%]
  flex flex-col justify-evenly
}

.key-main-row {
  @apply w-[100%] h-[19.4%]
  flex flex-row;
}

.no-margin {
  @apply mt-0;
}

.quad-container {
  @apply w-[79.4%] ml-[6.2%]
  flex flex-row justify-between;
}

.quad-row {
  @apply w-[31.8%] h-auto
  flex flex-row justify-between;
}

.hoverEffect {
  @apply transition transform duration-200 ease-in
  rounded-md
  hover:opacity-100
  hover:cursor-pointer
  /* hover:bg-[#4693DA]/[0.5] */
  /* hover:bg-[#42196a]/50 */

  mix-blend-difference
  hover:text-white
}

.clickEffect {
  @apply transition transform duration-200 ease-in
  rounded-md
  hover:opacity-100
  hover:cursor-pointer
/* active:bg-[#4693DA]/[0.5] */
active:text-white
  group-active:scale-[180%];
}

.text-sizing {
  @apply text-[0.6rem] leading-[0.7rem]
  sm:text-sm sm:leading-5
  lg:text-xl lg:leading-7
}

.esc {
  @apply w-[6.4%] text-sm  whitespace-nowrap
  opacity-0  text-gray-400
  text-sizing;
}
.quad-keys {
  @apply w-[25%] text-sm whitespace-nowrap 
  opacity-0 text-white
  text-sizing;
}

.main-keys {
  @apply w-[6.3%] text-lg whitespace-nowrap
  opacity-0  text-white 
  text-sizing;
}

.key-span {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  z-50 transition duration-200 ease-in;
}

.wheel {
  @apply w-[6%] ml-[2.2%] text-sm rounded-full 
  opacity-0
  text-sizing text-gray-400
  transition transform duration-200 ease-in
  hover:opacity-100
  hover:cursor-pointer
}

.test {
  @apply transition transform duration-200 ease-in
  /* bg-[#4693DA]/[0.5] */
  opacity-100
  backdrop-blur-2xl 
  mix-blend-multiply;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-80%);
  }
}

.knob {
  @apply
  flex justify-center items-center border border-red-700
  absolute top-[0%] right-[1%] transform translate-y-[-50%] origin-center z-10;
}

.knob-show {
  animation: slideIn 0.3s ease forwards;
}

.knob-hide {
  animation: slideOut 0.3s ease forwards;
}

.color-button {
  @apply w-[3em] h-[3em] border-2 border-white rounded-full
  overflow-hidden
}

.info-button {
  @apply w-[20px] aspect-square border-2 border-white rounded-full p-1 ml-[10px]
  flex justify-center items-center
  text-white
  bg-gray-600
  overflow-hidden
  drop-shadow-lg

  transition duration-200 ease-out

  hover:bg-white
  hover:text-black

  md:w-[30px] md:ml-[20px]
}

.close-button {
  @apply border-2 border-white rounded-full p-1
  absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2
  flex justify-center items-center
  bg-gray-300
  text-white
  overflow-hidden
  text-lg

  transition-colors duration-200 ease-in

  hover:bg-white
  hover:text-black
}

.icons {
  @apply text-2xl
}

.color-toggle-bar {
 @apply w-[30px] h-[12px] relative ml-[12px] mb-[4px]
  border-2 border-white
  rounded-full 
  drop-shadow-lg
  cursor-pointer
  transition-colors duration-300

  sm:w-[40px] sm:h-[16px]
  md:w-[50px] md:h-[20px] 
}

.color-toggle-circle {
  @apply 
  w-[18px] aspect-square
  rounded-full 
  absolute top-1/2 transform -translate-y-1/2 
  drop-shadow-lg
  cursor-pointer
  transition duration-300

  sm:w-[24px]
  md:w-[30px]
}


/* 배경 관련 */
@keyframes infiniteFlow {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.bg-gradient-infinite {
  @apply absolute inset-0 w-full h-full z-10
  bg-infinite-gradient bg-200% animate-infiniteFlow
  bg-blend-hard-light;
}

.mask-led {
  -webkit-mask-image: url("../assets/svg/keyboard_on.svg");
  mask-image: url("../assets/svg/keyboard_on.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mask-color {
  -webkit-mask-image: url("../assets/svg/color-mask.svg");
  mask-image: url("../assets/svg/color-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
